@import "tailwindcss";
@import "tw-animate-css";

body,html {
    margin: 0;
    padding: 0;
    font-size: 5.77778px;
    --vh-offset: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-family: sans-serif;
}

@font-face {
  font-family: 'Novecentosanswide-Bold';
  src: url('/fonts/novecento-sans-webfont/Novecento-Sans-W01-Md.woff') format('woff');
  font-weight: 700; /* Medium weight */
  font-style: normal;
  font-display: swap; /* Improves performance */
}


@layer components {
  .hollow-text {
    @apply pr-4 leading-none opacity-60;
    @apply bg-clip-text text-transparent;
    @apply w-fit;

    font-family: Novecentosanswide-Bold;

    background-image: linear-gradient(
      -45deg,
      transparent,
      transparent 20.5805011712%,
      black 0,
      black 29.4194988288%,
      transparent 0,
      transparent 70.5805011712%,
      black 0,
      black 79.4194988288%,
      transparent 0,
      transparent
    );

    background-size: 0.5rem 0.5rem;
    background-repeat: repeat;
    background-position: 0 0;

    height: 15.625rem;
    font-size: 15.625rem;
    letter-spacing: -0.625rem;
  }
}


