.mini_header_embla {
  max-width: 48rem;
  margin: auto;
  --slide-size: 100%;
  position: relative;
}
.mini_header_embla__viewport {
  overflow: hidden;
  position: relative;
}
.mini_header_embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}
.mini_header_embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
}
.mini_header_embla__slide__number {
  border: 0.2rem solid var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18rem;
  user-select: none;
}
.mini_header_embla__controls {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 68%;
  width: 37.5rem;
  height: 11rem;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
}
.mini_header_embla__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mini_header_embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  border: 0.2rem solid var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(0deg);
}
.mini_header_embla__button--disabled {
  color: var(--detail-high-contrast);
}
.mini_header_embla__button__svg {
  width: 35%;
  height: 35%;
}
.mini_header_embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
  position: absolute;
  bottom: 3%;
  width: 100%;
}
.mini_header_embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
}
.mini_header_embla__dot:before,
.mini_header_embla__dot:after {
  width: 0.25rem;
  height: 0.25rem;
  position: absolute;
  display: flex;
  align-items: center;
  content: '';
  background-color: white;
}
.mini_header_embla__dot:before {
  border: 0.2rem solid var(--detail-medium-contrast);
}
.mini_header_embla__dot:after {
  border: 0.2rem solid var(--color-white);
  width: 1.5rem;
  opacity: 0;
}
.mini_header_embla__dot--selected:after {
  width: 1.5rem;
}

.mini_header_embla .embla__button {
    color: white;
    position: absolute;
    top: 40%;
}

.mini_header_embla .embla__button--prev {
  left: 3%;
}

.mini_header_embla .embla__button--next {
  right: 3%;
}